<ion-view view-title="Issue Map">

<ion-nav-buttons side="primary">
  	<button ng-click="allMarkers()" class="showMarkers button button-icon icon ion-ios-location-outline"></button>
  </ion-nav-buttons>
<ion-nav-buttons side="secondary">
  	<a class="addIssue button button-icon icon ion-ios-plus-outline"></a>
  </ion-nav-buttons>


  <ion-content scroll="false">

  

    <leaflet defaults="mapDefaults" center="mapCenter" markers="mapMarkers" data-tap-disabled="true"></leaflet>
  <!-- <div class="row" style="z-index: 2000;">



    <a class="button button-icon icon ion-plus col col-center"></a>
  </div>  
 -->
  
  </ion-content>
</ion-view>