<ion-view view-title="Issue List">
	<ion-content>
	<ion-refresher
		pulling-text="Pull to refresh..."
		on-refresh="doRefresh()" ng-controller="issueListCtrl">
	</ion-refresher>
		<ion-list ng-controller="issueListCtrl" ng-if="issues">
			<form ng-show="listLoaded" name="searchForm">
				<div class="list">
					<div class="bar bar-header item-input-inset">
						<label class="item-input-wrapper">
							<i class="icon ion-ios7-search placeholder-icon"></i>
							<input type="search" placeholder="Search" ng-model="search">
						</label>
						<button ng-click="search = null;clear()" class="button button-clear">
							Cancel
						</button>
					</div>
				</div>
			</form>
			<div ng-show="listLoaded" class="button-bar row">					
				<button ng-click="predicate = 'updatedOn'; reverse=!reverse;togRecent(ord)" class="button button-small button-stable list-filter">
					Recent <i class="icon {{recentOrd}}"></i>
				</button>					
				<button ng-click="predicate = 'owner.name'; reverse=!reverse;togOwner(ord)" class="button button-small button-stable list-filter">
					Reported by <i class="icon {{ownerOrd}}"></i>
				</button>					
				<button ng-click="predicate = 'state'; reverse=!reverse;togState(ord)" class="button button-small button-stable list-filter">
					Status <i class="icon {{stateOrd}}"></i>
				</button>
			</div>
			<ion-item ng-repeat="issue in issues | filter:search | orderBy:predicate:reverse" class="item-thumbnail-left">
					<img actual-src="{{issue.imageUrl}}" ng-src="img/3DflatCity.png">
					<h2>{{issue.issueType.name | capitalize}}</h2>
					<p>{{issue.description}}</p>
					<p style="font-size: small; font-style: italic">Reported by {{issue.owner.name}}</p>
					<p style="font-size: small; font-style: italic">Status :  {{issue.state}}</p>
					<ion-option-button class="button-balanced" ng-controller="MapController" ng-click="showOnMap('{{issue.id}}')">
						Show on map
					</ion-option-button>
					<ion-option-button class="button-calm" ng-click="showDetails('{{issue.id}}')">
						View details
					</ion-option-button>
			</ion-item>   
			<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
		</ion-list>
		<div ng-if="!issues" class="card">
			<div class="item item-text-wrap">
				No issues have been reported yet.
			</div>
		</div>
	</ion-content>
</ion-view>