<ion-view view-title="Issue List">
	<ion-content>
		<ion-list ng-controller="issueListCtrl">
			<form name="searchForm">
				<div class="list">
					<div class="bar bar-header item-input-inset">
						<label class="item-input-wrapper">
							<i class="icon ion-ios7-search placeholder-icon"></i>
							<input type="search" placeholder="Search" ng-model="search">
						</label>
						<button ng-click="search = null" class="button button-clear">
							Cancel
						</button>
					</div>
				</div>
			</form>
			<ion-item ng-repeat="issue in issues | filter:search" class="item-thumbnail-left">		
				<img ng-src="{{issue.imageUrl}}" fall-back-src="img/3DflatCity.png">
				<h2>{{issue.issueType.name | capitalize}}</h2>
				<p>{{issue.description}}</p>
				<p style="font-size: small; font-style: italic">Reported by {{issue.owner.name}}</p>
				<ion-option-button class="button-balanced" ng-controller="MapController" ng-click="showOnMap('{{issue.id}}')">
					Show on map
				</ion-option-button>
				<ion-option-button class="button-calm" ng-click="showDetails('{{issue.id}}')">
					View details
				</ion-option-button>
			</ion-item>          
		</ion-list>
	</ion-content>
</ion-view>