<ion-popover-view view-title="New Issue" ng-controller="addIssueCtrl">
	<ion-content>
		<form name="issueForm">
			<div class="list">
				<label class="item item-input item-select">
					<div class="input-label">
						Issue :
					</div>
					<select ng-model="$parent.issueTypeId" required="required">
						<option ng-repeat="issueType in issueTypes"  value="{{issueType.id}}">{{issueType.name | capitalize}}</option>
					</select>
				</label>
				<label class="item item-input">
					<textarea placeholder="Description" ng-model="$parent.descr" required="required"></textarea>
				</label>
				<label class="item item-input">
					<button ng-click="takePic()" class="button icon ion-camera" ></button>
				</label>
				<p ng-if="error" class="error">{{ error }}</p>
				<button class="button button-large button-full button-positive" ng-click="newIssue()" ng-disabled="issueForm.$invalid">Report issue</button>
			
			</div>
		</form>
	</ion-content>
</ion-popover-view>