<ion-view view-title="User">
<ion-nav-buttons side="secondary">
    <button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button">Log Out</button>
  </ion-nav-buttons>
 <ion-content>
 	<ion-refresher
		pulling-text="Pull to refresh..."
		on-refresh="doRefresh()" ng-controller="userIssueListCtrl">
	</ion-refresher>
 	<div class="row" ng-controller="userCtrl">
 		<div class="col col-25">
 			<img src="img/avatar.png" width="100%" alt="Citizen Avatar" />
 		</div>
 		<div class="col col-75">
 			<h3>{{currentUser.firstname}} {{currentUser.lastname}} </h3>
 			<p ng-if="currentUser.phone">Phone : {{currentUser.phone}}</p>
 		</div>
 	</div>

    <!-- A banner. Choose an image and save it as www/img/banner.jpg -->
    <div class="row">
		<h4>Reported issues</h4>
    </div>
    <div class="row" ng-controller="userIssueListCtrl">
		<ion-list ng-if="userIssues">
			<ion-item ng-repeat="userIssue in userIssues track by $index" class="item-thumbnail-left">		
				<img actual-src="{{userIssue.imageUrl}}" ng-src="img/3DflatCity.png">
				<h2>{{userIssue.issueType.name | capitalize}}</h2>
				<p>{{userIssue.description}}</p>
				<ion-option-button class="button-balanced" ng-click="showOnMap('{{userIssue.id}}')">
					Show on map
				</ion-option-button>
				<ion-option-button class="button-calm" ng-click="showDetails('{{userIssue.id}}')">
					View details
				</ion-option-button>
			</ion-item>
			<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
		</ion-list>
		<div ng-if="!userIssues" class="card">
			<div class="item item-text-wrap">
				You haven't reported any issues yet. Too bad...
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>

